h1 {
	color:white;
	font-size:50px;
	font-family:DFKai-sb;
}
div img {
  vertical-align : middle;
}
#div img {
max-width:600px;
myimg:expression(onload=function(){
this.style.width=(this.offsetWidth > 600)?"600px":"auto"});
} 